   <!-- Page title -->
      <div class="page-title">
         <div class="container">
            <h3>Welcome to checkout</h3>
         </div>
      </div>
      <!-- Page title -->
      
      <!-- Page content -->
      
      <div class="checkout">
         <div class="container">
            <h4>Shipping & Billing Details</h4>
            <br />
            <form class="form-horizontal" role="form">
              <div class="form-group">
                <label for="inputName" class="col-md-2 control-label">First Name</label>
                <div class="col-md-4">
                  <input type="text" class="form-control" id="inputFirstName" placeholder="First Name">
                </div>
              </div> 
                <form class="form-horizontal" role="form">
              <div class="form-group">
                <label for="inputName" class="col-md-2 control-label">Last Name</label>
                <div class="col-md-4">
                  <input type="text" class="form-control" id="inputLastName" placeholder="Last Name">
                </div>
              </div>          
              <div class="form-group">
                <label for="inputEmail1" class="col-md-2 control-label">Email</label>
                <div class="col-md-4">
                  <input type="email" class="form-control" id="inputEmail1" placeholder="Email">
                </div>
              </div>
              <div class="form-group">
                <label for="inputPhone" class="col-md-2 control-label">Phone Number</label>
                <div class="col-md-4">
                  <input type="text" class="form-control" id="inputPhone" placeholder="Phone">
                </div>
              </div>
              <div class="form-group">
                  <label for="inputAddress" class="col-md-2 control-label">Address</label>
                  <div class="col-md-4">
                     <textarea class="form-control" rows="1" placeholder="Address"></textarea>
                  </div>
              </div>
              <div class="form-group">
                  <label for="inputAddress" class="col-md-2 control-label">City</label>
                  <div class="col-md-4">
                     <textarea class="form-control" rows="1" placeholder="City"></textarea>
                  </div>
              </div>
              <div class="form-group">
                <label for="inputZip" class="col-md-2 control-label">Zip Code</label>
                <div class="col-md-4">
                  <input type="text" class="form-control" id="inputZip" placeholder="Zip Code">
                </div>
              </div>
              
              <hr />
              <h4>Payment Details</h4>
              
              <div class="form-group">
                <label for="inputPayment" class="col-md-2 control-label">Payment Method</label>
                <div class="col-md-4">
                  <select class="form-control">
                    <option>Payment Method</option>
                    <option>Credit Card</option>
                    <option>Debit Card</option>
                    <option>Internet Banking</option>
                    <option>Check</option>
                  </select>
                </div>
              </div>
              

              <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                  <a href="#/orderconfirmation"<button type="submit" class="btn btn-success">Confirm Order</button></a>
                  
                </div>
              </div>
            </form>
          <br />
         </div>
      </div>
     

      