 <!-- Page content -->
      
      <div class="blocky">
         <div class="container">
            <div class="row">
               <div class="col col-md-6">
                  <div class="register-login">
                        
                           <h3>Create a New Local Market Online Account</h3>
                           <form class="form-horizontal" role="form" ng-submit="signup()">
                             <div class="form-group">
                               <label for="inputName" class="col-lg-2 control-label">Name</label>
                               <div class="col-lg-10">
                                 <input type="text" class="form-control" id="inputName" placeholder="Name" ng-model="signupForm.name">
                               </div>
                             </div>                           
                             <div class="form-group">
                               <label for="inputEmail1" class="col-lg-2 control-label">Email</label>
                               <div class="col-lg-10">
                                 <input type="email" class="form-control" id="inputEmail1" placeholder="Email" ng-model="signupForm.email">
                               </div>
                             </div>
                             <div class="form-group">
                               <label for="inputPassword1" class="col-lg-2 control-label">Password</label>
                               <div class="col-lg-10">
                                 <input type="password" class="form-control" id="inputPassword1" placeholder="Password" ng-model="signupForm.password">
                               </div>
                             </div>                       
                             <div class="form-group">
                               <div class="col-lg-offset-2 col-lg-10">
                                 <div class="checkbox">
                                   <label>
                                     <input type="checkbox">Notify me about Local Farm Market news, offers, and events at my email address.
                                   </label>
                                 </div>
                               </div>
                             </div>
                             <div class="form-group">
                               <div class="col-lg-offset-2 col-lg-10">
                                 <button type="submit" class="btn btn-success btn-lrg">Create Account</button>
                               </div>

   
                             </div>
                           </form>
                         
                        </div>

                     </div>   
                  </div>
      
         </div>
      </div>
   <script type="text/javascript" src="/main.js"></script>    
      