<!-- COVER -->

<div class="jumbotron">
  
  <div class="container">
    <h1>Bringing the <br/>Farmers Market<br/>to You</h1>
    <p>Get delicious food directly from the best local producers</p>
    <div class="buttons">
      <button type="button" class="btn btn-secondary btn-lg"><a href="">How it works</a></button></form>
      <form><a href="#/search"><button type="button" class="btn btn-success btn-lg">Start shopping</button></a>
    </div>
    </div>
</div>

<!-- END COVER -->    
<div class="container">
      <!-- Example row of columns -->
      
      <div class="row">
      <h3 class="featured"><a name="HowItWorks">HOW IT WORKS</a></h3>
        <div class="col-md-4">
          
          <a class="thumbnail">
      <img src="/images/youorder.jpg" alt="...">
    </a>
          <p class="howitworks">Shop online the freshest produce from local farmers! We're always open! </p>
        </div>
        <div class="col-md-4">
          
          <a class="thumbnail">
      <img src="/images/prepare.jpg" alt="...">
    </a>

          <p class="howitworks">The producers get to work digging, baking and catching to get your order ready.</p>
       </div>
        <div class="col-md-4">
          <a class="thumbnail">
      <img src="/images/electric-car.jpg" alt="...">
    </a>

          <p class="howitworks">We deliver to your home via our amazing little electric vans at a time and day chosen by you, for free.</p>
        </div>
      </div>
<hr>
        
  <div class="col-lg-12">
    <div class="row">
      <h3 class="featured">OUR MISSION</h3>
      <p class="featured-text">FarmersMarket.com actively strives to improve the quality of life of our customers by <br />providing a service that supports their health, community and environment.</p>
      <br />
    </div>
  </div>

<div class="col-lg-12">
  <div class="row">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="./images/hero-1.jpg" alt="Fresh Berries">
    </div>

    <div class="item">
      <img src="./images/berries.jpg" alt="">
    </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

  </div>
  </div>
  </div>
</div>
</div>  
        <!-- /.row -->

        <!-- Page Features -->
