<!-- Page content -->
      <div class="blocky">
         <div class="container">
            <div class="row">
               <div class="col-md-6">
               <div class="register-login">
                           <h3>Your Farmers Market online account</h3>
                           <form class="form-horizontal" role="form" ng-submit="login()">
                             <div class="form-group">
                               <label for="inputEmail1" class="col-lg-2 control-label">Email</label>
                               <div class="col-lg-10">
                                 <input type="email" ng-model="loginForm.username" class="form-control" id="inputEmail1" placeholder="Email">
                               </div>
                             </div>
                             <div class="form-group">
                               <label for="inputPassword1" class="col-lg-2 control-label">Password</label>
                               <div class="col-lg-10">
                                 <input type="password" ng-model="loginForm.password" class="form-control" id="inputPassword1" placeholder="Password">
                               </div>
                             </div>
                             

                             <div class="form-group">
                               <div class="col-lg-offset-2 col-lg-10">
                                 <button type="submit" class="btn btn-success btn-lrg">Sign in</button>
                               </div>
                             </div>
                           </form>
                           
                        </div>
                     </div>   
                  </div>
        
        
      </div>
  <script type="text/javascript" src="/main.js"></script>  
  </div>
      