<!-- Page title -->
<div class="page-title">
        <!-- <img src="images/categories.jpg" style="width:100%"> -->
<div class="veggies">
  <ul id="ccontainer">
    <li class="cname"><img src="images/fruit.png" class="pic"><br/>
    <p id="catname"><a href="#/search?category=fruit">Fruit</a></p></li>
    <li class="cname"><img src="images/veggies.png" class="pic2"><p id="catname"><a href="#/search?category=vegetables">Veggie</a></p></li>
    <li class="cname"><img src="images/juicing.png" class="pic3"><p id="catname"><a href="#/search?category=juicing">Juicing Bundles</a></p></li>
  </ul>
</div>

      <!--    <div class="container">

            <h1>Local, Organic & Farm Fresh!</h1>
            <hr />
         </div>
      </div> -->
      <!-- Page title -->
      
      <!-- Page content -->
      
      <div class="shop-items">
         <div class="container">
            
            <div class="row">
               
               <div class="col-md-9 col-md-push-3">
              
                 <!-- Items List starts -->

                     <div class="row">
                        <div class="col-md-4 col-sm-6 col-xs-12" ng-repeat="product in products | filter: filterProducts">
                          <div class="item">
                            <!-- Item image -->
                            <div class="#">
                              <a href="{{'#/item/' + product.id}}"><img src="{{product.image}}" alt="" class="img-responsive"/></a>
                            </div>
                            <!-- Item details -->
                            <div class="item-details">
                              <!-- Name -->
                              <h5>{{product.productName}}</h5>
                              <!-- Para. Note more than 2 lines. -->
                              <p>{{product.from}}</p>
                              <p>{{product.weight}}</p>
                              <hr />
                              <!-- Price -->
                              <div class="item-price pull-left">${{product.price}}</div>
                              <!-- Add to cart -->
                              <div class="pull-right"><a ng-click="addToCart(product);addIt()" ng-href="" class="btn btn-success btn-sm">Add to Cart</a></div>
                              <div class="clearfix"></div>
                            </div>
                          </div>
                        </div>  

                      </div>


                  <!-- Items List ends -->
                  
                  
                     <div class="row">
                        <div class="col-md-12">
                                    <!-- Pagination -->
                                    <ul class="pagination">
                    <li class="disabled"><a href="#">&laquo;</a></li>
                    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                                      <li><a href="#">2</a></li>
                                      <li><a href="#">3</a></li>
                                      <li><a href="#">4</a></li>
                                      <li><a href="#">5</a></li>
                                      <li><a href="#">&raquo;</a></li>
                                    </ul> 
                        </div>
                     </div>
               
               </div>
               
               
               <div class="col-md-3 col-md-pull-9">
                  <div class="sidey">
                     <ul class="nav">
                      
                         <li><a class="menu" href="#">FRUITS & VEGGIES</a>
                             <ul>
                                 <li><a href="#/search">ALL</a></li>
                                 <li><a href="#/search?category=fruit">FRUIT</a></li>
                                 <li><a href="#/search?category=vegetables">VEGETABLE</a></li>
                                 <li><a href="#/search?category=juicing">JUICING BUNDLES</a></li>
                             </ul>
                         </li>
                         <li><a class="menu" href="#">&nbsp;BY PRODUCERS</a>
                             <ul>
                                 <li><a href="#/search?producer=Anderson">ANDERSON FARM</a></li>
                                 <li><a href="#/search?producer=Cure">CURE ORGANIC FARM</a></li>
                                 <li><a href="#/search?producer=Dexter">DEXTER'S FARM</a></li>
                                 <li><a href="#/search?producer=Summerdog">SUMMERDOG FARM</a></li>
                             </ul>
                         </li>
                         
                     </ul>
                  </div>
                  
                 
            
            <div class="sep-bor"></div>
         </div>
      </div>
     
      

      
      
      